body{ 
    background-color:rgb(192, 192, 192);
    font-family: "Delius", cursive;
    display: flex;
    flex-direction:row;
    
}
.marca{
    color: rgb(172, 5, 5);
    font-family: "Bangers", system-ui;
    font-size: 60px;
}
.cardapio-itens{
    display: flex;
    flex-direction: column;}

.titulos{
    font-size: 16px;
}
.titulos-cardapio{
    font-size: 22px;
}

.texto{
    display: flex;
    flex-direction: column;
}

.foto{
    border: 0;
    padding: 500px;
}

img{
    border-radius: 200px;
}
