body{ 
    background-color:rgb(192, 192, 192);
    font-family: "Delius", cursive;
    display: flex;
    flex-direction:row;
    
    
}
.marca{
    color: rgb(172, 5, 5);
    font-family: "Bangers", system-ui;
    font-size: 4rem;
}
.cardapio-itens{
    display: flex;
    flex-direction: column;}

.titulos{
    font-size: 1rem;
}
.titulos-cardapio{
    font-size: 1.3rem;
}

.texto{
    display: flex;
    flex-direction: column;
}

.foto{
    border: 0;
    padding: 30rem;
}

img{
    border-radius: 12.5rem;
}
